*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}



/* Navbar */
nav{
    background-color: #1C181D;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px 12px 16px;
    align-items: stretch;
}
nav .navbar_logo{
    /* width: 35%; */
    /* border: 1px solid red; */

}

.mobile_icon{
    display: none;
}

@media(max-width:575px){
    .desktop_icon{
        display: none;
    }
    .mobile_icon{
        display: block;
    }
}

@media(max-width:575px){
    .desktop_icon{
        display: none;
    }
    .mobile_icon{
        display: block;
    }
}



/* Navbar Search */
.navbar_search{
    position: relative;
    /* width: 480px; */
    width: 35%;
    /* border: 1px solid red; */
}
@media (max-width:575px){
    .navbar_search{
        width: 62%;
    }
}
nav input{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    border: 1px solid var(--stroke-s-200, #616161);
    background: var(--grey-g-200, #303030);
    padding: 8px 8px 8px 34px;
    color: var(--grey-g-100, #B5B5B5);
}
nav input::placeholder{
    color: var(--grey-g-100, #B5B5B5);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
.navbar_search svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #B5B5B5;
    width: 20px;
    height: 20px;
    margin-left:8px;
}

@media(max-width:575px){
   .navbar_search svg{
    /* top: 43%; */
   }
}

/* Navbar Other Items */

nav .navbar_items{
    display: flex;
    gap: 8px;
}

nav .notification_icon{
    /* all:unset; */
    display: flex;
    width: 38px;
    height: 32px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 8px;
    background: var(--grey-grey-200, #303030);
    cursor: pointer;
}

@media(max-width:575px){
    nav .notification_icon{
        background: unset;
        width: 28px;
        padding: unset;
    }
    .notification_icon_svg{
        margin-top: 8.5px;

    }
}

nav .notification_icon:hover{
    background: var(--font-mid-2, #616161);
}
nav .notification_icon:active{
    background: var(--grey-grey-50, #656266);
}
nav .notification_icon:focus{
    background: var(--grey-grey-50, #656266);
    box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #000;
}

.notification_icon svg{
    /* width: 24px;
    height: 24px; */
    color: #E3E3E3;
}

.notification_list{
    position: absolute;
    top: 68px;
    right: 16px;
    display: none;
    width: 385px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}
@media(max-width:575px){
    .notification_list{
        width: 90%;
    }
}

.notification_list_active{
    display: inline-flex;
}

.notification_list .alerts_title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification_list .alert{
    color: var(--font-dark, #303030);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.notification_list .alert_icons{
    display: flex;
    gap: 16px;
}
.notification_list button{
    all: unset;
}

.alert_message{
    display: flex;
    width: 351px;
    padding: 16px;
    align-items: center;
    gap: 8px;
    background: var(--states-hover, #F1F1F1);
}

@media(max-width:575px){
    .alert_message{
        width: 100%;
    }
}

.alert_message p{
    color: var(--font-mid-2, #616161);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.store_details{
    all: unset;
    cursor: pointer;
    display: flex;
    padding: 2px 2px 2px 8px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--grey-grey-200, #303030);
}
.store_details:hover{
    background: var(--font-mid-2, #616161);
}
.store_details:active{
    background: var(--grey-grey-50, #656266);
}
.store_details:focus{
    background: var(--grey-grey-50, #656266);
    box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #000;
}
.store_name{
    color: var(--font-light, #E3E3E3);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 15.6px */
}
@media(max-width:575px){
    .store_details{
        all: unset;
    }
    .store_name{
        display: none;
    }
}

.profile_placeholder{
    display: flex;
    height: 28px;
    padding: 9px 5px 10px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #36FBA1;
}

.profile_placeholder_text{
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 15.6px */
}

@media(max-width:575px){
    .profile_placeholder{
        position: relative;
        top: 1px;
    }
}

/* Store Menu Items */

.menu_items{
    position: absolute;
    top: 68px;
    right: 16px;
    display: none;
    list-style: none;
    width: 320px;
    padding: 6px 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

@media(max-width:388px){
    .menu_items{
        width: 90%;
    }
}

.menu_items_active{
    display: flex;
}


.store_details_menu_div{
    display: flex;
    padding: 4px 12px 4px 8px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: var(--states-hover, #F1F1F1);
}

.store_details_menu{
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile_placeholder_menu{
    display: flex;
    height: 28px;
    padding: 10.375px 5.875px 10.375px 6.125px;
    justify-content: center;
    align-items: center;
    border-radius: 5.25px;
    background: #36FBA1;
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-family: Inter;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

.store_name_menu{
    color: var(--font-dark, #303030);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.store_details_menu_check svg{
    width: 16px;
    height: 16px;
}

.menu_item{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.menu_item a{
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in;
}
.menu_item a:hover{
    background: var(--states-hover, #F1F1F1);
}
.menu_item a:active{
    background: var(--states-pressed, #F0F0F0);
}
.menu_item a:focus{
    outline: none; /* Removing default focus outline */
    border: 2px solid var(--states-focused, #005BD3);
}

.menu_item svg{
    width: 20px;
    height: 20px;
}

.all_stores{
    display: flex;
    /* padding: 6px; */
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.menu_item .user_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.menu_item a, span.gmail{
    text-decoration: none;
    color: var(--font-dark, #303030);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}

.menu_item .user_name div.user{
    font-weight: 500;
}

.menu_item .user_name span{
    font-size: 12px;
    line-height: 130%; 
}

.menu_items hr{
    position: relative;
    width: 320px;
    height: 0.75px;
    color: #E1E1E1 !important;
    background-color: #E1E1E1;
    opacity: .2;
    /* margin-top: 8px; */
    margin-left: -7px;
}

/* Select Plan */
.select_plan{
    display: flex;
    width: 66.66%;
    margin: 32px auto 16px auto;
    padding: 12px 8px 12px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: var(--grey-grey-300, #1A1A1A);
    flex-wrap: wrap;
}

@media(max-width:575px){
    .select_plan{
        width: 100%;
        border-radius: unset;
        /* border: 1px solid red; */
    }
}


.select_plan_text{
    color: var(--font-light, #E3E3E3);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
    /* border: 2px solid green; */
    width: 83.33%;
}

/* .select_plan_right{
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    border: 2px solid yellow;

} */

.select_plan_btn{
    text-decoration: none !important;
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--White, #FFF);
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
    color: var(--font-dark, #323232);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    width: 14%;
    /* white-space: nowrap; */
    /* border: 2px solid pink; */
}

.select_plan_dismiss{
    display: none;
}

.select_plan svg{
    /* width: 20px; */
    width: 2.66%;
    height: 20px;
    cursor: pointer;
    /* border: 2px solid orange !important; */
}

@media(max-width:575px){
    .select_plan_text{
        width: 91.66%;
    }
    .select_plan_btn{
        order: 3;
        width: auto;
        margin-top: 16px;
    }
    .select_plan svg{
        order: 2;
        width: 8.33%;
    }
}

/* Setup Guide */

.setup_guide_container{
    width: 66.66%;
    padding: 16px;
    border-radius: 18px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    margin: 10px auto;
}

@media(max-width:575px){
    .setup_guide_container{
        width: 100%;
        border-radius: unset;
    }
}

.setup_guide_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setup_guide_text{
    color: var(--font-dark, #303030);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    margin-bottom: 8px;
}

.setup_guide_text2{
    color: var(--font-dark, #303030);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    margin-bottom: 16px;
}

.setup_guide_div svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.progress_bar_div {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.progress_bar_number{
    color: var(--font-dark, #303030);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
.progress_bar_wrapper{
    background-color: #E3E3E3;
    width: 72px;
    height: 4px;
}
.progress_bar{
    width: 0%;
    height: 100%;
    background-color: #1A1A1A;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.step_container{
    display: block;
}

.step_container_close{
    display: none;
}

.step{
    display: flex;
    padding: 8px 8px 12px 8px;
    align-items: center;
    gap: 96px;
    align-self: stretch;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}

.step_active{
    background: #F3F3F3;
}

.step.step_active .step_title{
   font-weight: 600;
}

.step_details{
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

#shopping-item-checkbox-status{
    display: none;
}

.step_checkbox{
    all:unset;
    cursor: pointer;
    background-color: transparent;
    border-radius: 12px;
}

.step_checkbox svg{
    width: 28px;
    height: 28px;
    cursor: pointer;
    /* z-index : 1; */
    /* align-self: flex-start; */
}

.step_checkbox:focus #step_checkbox_unchecked circle{
    fill: #d9d9d9;
    stroke-dasharray: 0 0;
}

.step_checkbox:hover #step_checkbox_unchecked circle{
    stroke-dasharray: 0 0;
}

.step_checkbox #step_checkbox_checked, #step_checkbox_transition{
    display : none;
}

@keyframes zoom-in-spin {
    from {
        transform: scale(0) rotate(270deg);
        opacity: 0;
    }

    to {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}

@keyframes spin{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#step_checkbox_checked{
    animation-name: zoom-in-spin;
    animation-duration: 300ms;
    animation-timing-function: linear;
}

#step_checkbox_transition{
    animation-duration: 1000ms;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.step_title {
    margin-top: 4.5px;
    color: var(--font-dark, #303030);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 16px;
}

.step_content{
    display: none;
}

.step_content p{
    color: var(--font-mid-2, #616161);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
}

.step_content span a{
    text-decoration: none;
    color: var(--states-focused, #005BD3);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.step_content a.btn{
    text-decoration: none;
    padding: 6px 12px;
    gap: 8px;
    border-radius: 6px;
    border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    background: #404040;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
    color: var(--font-light, #F6F3F6);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    cursor: pointer;
}

.step_content a.btn_special{
   margin-bottom: 10px; 
   display: inline-flex;
}

.add_product{
    display: flex;
    gap: 16px;
    align-items: center;
}

a.import_product{
    all: unset;
    color: var(--font-dark, #323232);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    cursor: pointer;
}

.step_image{
    display: none;
}
.step_image.first_step{
    display: block;
}

.step_image_active{
    display: block;
}

@media (max-width:575px){
    .step_image{
        display: none;
    }
    .step_image.first_step{
        display: none;
    }
}